@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Beaufort for LOL';
    src: url('BeaufortforLOL-Bold.woff2') format('woff2'),
        url('BeaufortforLOL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Beaufort for LOL';
    src: url('BeaufortforLOL-Medium.woff2') format('woff2'),
        url('BeaufortforLOL-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


